@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
.App{
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 400px;
  background-color: #262626;
  margin: 10% auto ;
}
.inbtn{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  height: 30px;
  width: 800px
}
.h2{
font-family: 'Anton', sans-serif;
font-size: 35px;
font-weight: 400;
line-height: 36px;
color: rgb(242, 242, 242);
}
.input{
width: 400px;
height:30px;
margin-top: 25px;
font-family: 'Anton', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 36px;
color: rgb(7, 7, 7);
border-radius: 10px
}
.btn{
  width: 100px;
  height: 30px;
  margin-top: 30px;
  margin-left: -20px;
  background-color: white;
  color: black;
  font-family: 'Anton', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 36px;
display: flex;
justify-content: center;
align-items: center;
text-align: center
}
.ul{
margin-top: 30px ;
margin-left: auto;
margin-right: auto;
width: 400px;
height: 30px;
}
.li{
  background-color: white;
  list-style-type:none;
  text-align: center;
  font-family: 'Anton', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 36px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
.fas{
  margin-top: 7px
}
